<!DOCTYPE html>
<html>
  <head>
    <title>AMNOGnews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_pack_tag "application" %>
    <%= javascript_include_tag "//www.google.com/jsapi" %>
    <%= javascript_include_tag "application", "chartkick" %>
    <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>

  </head>

  <body>
    <% if alert.present? %>
      <aside class="alert alert-danger">
        <%= alert %>
      </aside>
    <% end %>
    <%= yield %>
  </body>
</html>
